/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 17px;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

.navDesktop {
  background-color: #011641ff;
  grid-row: 1;
  grid-column: 1/9;
  display: flex;
  justify-content: space-between;
}
.navDesktop-ul {
  display: flex;
  font-family: Menu;
  width: 65%;
  justify-content: space-around;
  margin: auto;
}
.navDesktop-logo {
  width: 35%;
  font-family: Name;
  background-color: #031373ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navDesktop-logo h1 {
  font-size: 10vh;
  text-align: center;
}

.navPhone {
  background-color: #011641ff;
  grid-row: 1;
  grid-column: 1/9;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.navPhone-burger {
  grid-column: 1/3;
  width: 50px;
  margin-left: 20%;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}
.navPhone-burger-1 {
  grid-row: 2;
  height: 90%;
  background-color: #80f2e8ff;
}
.navPhone-burger-2 {
  grid-row: 4;
  height: 90%;
  background-color: #80f2e8ff;
}
.navPhone-burger-3 {
  grid-row: 6;
  height: 90%;
  background-color: #80f2e8ff;
}
.navPhone-menu {
  position: fixed;
  top: 15vh;
  z-index: 100;
  background: #031373ff;
  height: 85vh;
  width: 50vw;
  font-family: Menu;
}
.navPhone-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nextEvent-container {
  height: 100%;
  background: #011641ff;
  grid-row: 2;
  grid-column: 1/9;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 450px) {
  .nextEvent-container {
    grid-row: 2;
    grid-column: 2/6;
  }
}

.nextEvent {
  border: yellow dashed;
  height: 100%;
  width: 100%;
}
.nextEvent h1 {
  text-align: center;
  font-family: Menu;
  font-size: 7vh;
  animation-name: nextEvent;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.nextEvent-description {
  text-align: center;
  font-family: Descritpion;
  animation-name: description;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  overflow: hidden;
  max-height: 4vh;
  text-align: left;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@keyframes nextEvent {
  33% {
    opacity: 0%;
  }
  66% {
    opacity: 50%;
  }
  99% {
    opacity: 100%;
  }
}
@keyframes description {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.user {
  grid-column: 5/9;
  padding: 2%;
  background-color: #011641ff;
  min-width: 100px;
}
.user-container {
  height: 100%;
  display: flex;
  background-color: #b90617ff;
  border: solid white;
}

@media (min-width: 450px) {
  .user {
    grid-column: 6/9;
    background-color: #011641ff;
  }
  .user-container {
    height: 100%;
    background-color: #b90617ff;
    border: solid white;
    display: flex;
    width: 100%;
    align-items: center;
  }
}
.header-user-data {
  width: 50%;
  height: 100%;
}
.header-user-data p {
  color: black;
  text-align: center;
  font-size: 3vh;
}
.header-user-container-Xpbar {
  height: 2vh;
  background: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 16px;
}
.header-user-content-Xpbar {
  height: 2vh;
  border-radius: 16px 0px 0px 16px;
  background: radial-gradient(ellipse at left, blue, #e4eaff);
}
.header-user-name {
  font-size: 4vh;
  text-align: center;
}
@media (max-width: 800px) {
  .header-user-name {
    font-size: 3vh;
  }
}
.header-user-badge {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-user-badge-img {
  height: 10vh;
}
.header-user-badge-descritpion {
  color: black;
  font-size: 3vh;
}

.pageUser {
  display: flex;
}
.pageUser-event {
  width: 60%;
}
@media (max-width: 768px) {
  .pageUser-event {
    width: 100%;
  }
}
.pageUser-nav {
  font-family: Menu;
  font-size: 22px;
  padding: 0% 3%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #031373ff;
}
.pageUser-nav-1 {
  text-decoration: none;
}
.pageUser-nav-2 {
  text-decoration: none;
}
.pageUser-nav-3 {
  text-decoration: none;
}
@media (max-width: 580px) {
  .pageUser-nav {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .pageUser-nav {
    font-size: 12px;
  }
}

.postList {
  background-color: #b90617ff;
  overflow: auto;
  width: 100%;
  max-height: 60vh;
}
.postList-ul {
  padding: 2%;
}
.postList-li {
  height: 55vh;
  padding: 2%;
  margin: 0 0% 10% 0%;
  display: grid;
  grid-template-rows: repeat(10, 10%);
}
@media (max-width: 768px) {
  .postList-li {
    padding: 5% 10% 0% 10%;
    height: 50vh;
    margin: auto;
    min-width: 100%;
  }
}
@media (max-width: 580px) {
  .postList-li {
    padding: 2% 0%;
  }
}
@media (max-width: 370px) {
  .postList-li {
    max-height: 45vh;
  }
}
.postList-li-top {
  grid-row: 1/8;
  width: 85%;
  background-color: #021459ff;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%);
}
@media (max-width: 1200px) {
  .postList-li-top {
    width: 95%;
  }
}
.postList-li-top-content {
  grid-row: 1/11;
  grid-column: 1/9;
  width: 100%;
  padding-left: 4%;
  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%);
}
.postList-li-top-head {
  grid-row: 1/3;
  grid-column: 1/11;
  padding: 5% 7% 4% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postList-li-top-head h2 {
  font-size: 22px;
}
@media (max-width: 580px) {
  .postList-li-top-head h2 {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .postList-li-top-head h2 {
    font-size: 2.4vh;
  }
}
.postList-li-top-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 3/7;
  grid-column: 1/11;
  text-align: left;
  max-width: 98%;
  font-size: 14px;
}
@media (max-width: 350px) {
  .postList-li-top-description {
    font-size: 12px;
  }
}
.postList-li-top-where {
  grid-row: 7/9;
  padding-top: 5%;
  grid-column: 1/9;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}
.postList-li-top-when {
  margin: auto;
  color: #b90617ff;
  font-size: 12px;
  padding: 0% 0% 0% 19%;
  font-weight: bold;
  grid-row: 9/11;
  grid-column: 1/9;
  text-align: center;
}
.postList-li-top-image {
  background: #80f2e8ff;
  grid-row: 1/8;
  grid-column: 9/11;
  display: flex;
  justify-content: center;
}
.postList-li-top-image img {
  height: 100%;
}
.postList-li-top-user {
  background: #011641ff;
  grid-row: 8/11;
  grid-column: 8/11;
  margin: 3%;
}
.postList-li-top-user-container {
  background: #b90617ff;
  border: solid white;
  display: flex;
  width: 100%;
  height: 100%;
}
.postList-li-top-user h3 {
  width: 50%;
  margin: auto;
  font-size: 100%;
  text-align: center;
}
@media (max-width: 851px) {
  .postList-li-top-user h3 {
    font-size: 2vh;
  }
}
@media (max-width: 355px) {
  .postList-li-top-user h3 {
    position: relative;
    width: 100%;
    left: 16%;
  }
}
.postList-li-top-badge {
  height: 13vh;
  width: 100%;
  bottom: 4vh;
  position: relative;
}
@media (max-width: 450px) {
  .postList-li-top-badge {
    height: 20vh;
    bottom: 0vh;
  }
}
@media (max-width: 355px) {
  .postList-li-top-badge {
    display: none;
    width: 1%;
  }
}
.postList-li-top-badge-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.postList-li-top-badge-descritpion {
  position: relative;
  bottom: 4.3vh;
  font-size: 2.6vh;
  color: black;
}
@media (max-width: 450px) {
  .postList-li-top-badge-descritpion {
    display: none;
    width: 1%;
  }
}
.postList-li-bottom {
  width: 85%;
  grid-row: 8/11;
  background: #011641ff;
  margin: 0% 0% 0% 8%;
  display: grid;
  grid-template-rows: repeat(5, 20%);
  grid-template-columns: repeat(4, 25%);
  justify-content: space-around;
  font-size: 2.5vh;
}
@media (max-width: 1200px) {
  .postList-li-bottom {
    width: 95%;
  }
}
.postList-li-bottom-control {
  grid-row: 1/6;
  grid-column: 1/3;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.postList-li-bottom-controlAdmin {
  display: flex;
  justify-content: center;
}
.postList-li-bottom-controlAdmin button {
  margin-right: 1vh;
}
.postList-li-bottom-controlAdmin-edit {
  top: 0px;
  right: 0px;
  z-index: 1111;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.postList-li-bottom-controlAdmin-edit form {
  width: 50%;
  height: 50%;
  margin: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #011641ff;
  height: 40%;
}
.postList-li-bottom-controlAdmin-edit .close {
  align-self: flex-end;
  width: 5%;
}
.postList-li-bottom-status {
  display: flex;
  min-width: 20vw;
}
.postList-li-bottom-status h1 {
  font-size: 3vh;
  text-align: center;
  margin: auto;
}
.postList-li-bottom-info {
  font-size: 4vh;
}
@media (max-width: 650px) {
  .postList-li-bottom-info {
    font-size: 3vh;
  }
}
.postList-li-bottom button {
  background-color: #021459ff;
  border: white solid 0.3vh;
  color: white;
  padding: 1% 2%;
  font-family: name;
  font-size: 70%;
  min-width: 8vw;
}
@media (max-width: 490px) {
  .postList-li-bottom button.participant {
    min-width: 25vw;
    position: relative;
  }
}
@media (max-width: 350px) {
  .postList-li-bottom button.participant {
    min-width: 30vw;
    position: relative;
  }
}
.postList-li-bottom button.list {
  width: 18vw;
}
.postList-li-bottom-guestContainer {
  display: flex;
  padding: 2% 3%;
  grid-row: 1/6;
  grid-column: 3/5;
}
.postList-li-bottom-guest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.postList-li-bottom-guestNumber {
  font-size: 3.5vh;
  height: 100%;
}
.postList-li-bottom-guestList {
  background: #80f2e8ff;
  height: 10vh;
  overflow: auto;
  z-index: 1;
  grid-row: 6;
  grid-column: 1/5;
}
.postList-li-bottom-guestList ul {
  display: flex;
  height: 100%;
  width: 90%;
  margin: auto;
  overflow: auto;
}
.postList-li-bottom-guestList li {
  width: 100%;
  height: 100%;
  font-family: Name;
  display: flex;
  align-items: flex-end;
}
.postList-li-bottom-guestList img {
  max-width: 100%;
  height: 100%;
}

.pageUser-profil {
  width: 40%;
  max-height: 80vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  .pageUser-profil {
    width: 100%;
  }
}
.pageUser-profil-header {
  background-color: #b90617ff;
  height: 10%;
  width: 99%;
  display: flex;
  justify-content: space-evenly;
}
.pageUser-profil-header h1 {
  font-size: 36px;
  display: flex;
  align-items: center;
}
.pageUser-profil-container {
  margin: 1%;
  border: solid white;
  height: 40vh;
  display: flex;
}
.pageUser-profil-container-img {
  width: 55%;
  min-height: 35vh;
  background-color: #80f2e8ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: block;
}
.pageUser-profil-avatar-img {
  height: 100%;
  z-index: 2;
  width: 100%;
  position: relative;
  bottom: 18vh;
}
.pageUser-profil-banner-img {
  z-index: 3;
  height: 10vh;
  position: relative;
  bottom: 30vh;
  width: 100%;
}
.pageUser-profil-banner-h1 {
  z-index: 4;
  color: black;
  font-size: 3.5vh;
  padding: 1%;
  width: 100%;
  position: relative;
  bottom: 36vh;
  text-align: center;
}
.pageUser-profil-bell {
  z-index: 4;
  height: 8vh;
  width: 22%;
  margin-left: 80%;
  bottom: 4vh;
  right: 2%;
  position: relative;
}
.pageUser-profil-bell-number {
  font-size: 3vh;
  right: 2%;
  padding-right: 1%;
  position: relative;
  color: white;
  font-family: name;
  text-align: end;
  z-index: 5;
}
.pageUser-profil-container-data {
  width: 45%;
  height: 100%;
  background: #b90617ff;
  font-family: Descritpion;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pageUser-profil-container-Xpdata {
  text-align: center;
  width: 100%;
  font-size: 2.7vh;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pageUser-profil-badge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
}
.pageUser-profil-badge {
  min-width: 46%;
  height: 12vh;
}
.pageUser-profil-badge-descritpion {
  font-size: 3vh;
}
.pageUser-profil-container-Xpbar {
  height: 2vh;
  background: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 16px;
}
.pageUser-profil-content-Xpbar {
  height: 2vh;
  border-radius: 16px 0px 0px 16px;
  background: radial-gradient(ellipse at left, blue, #e4eaff);
}
.pageUser-profil-data {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.pageUser-profil-data h2 {
  font-size: 16px;
  width: 100%;
  text-align: center;
}
@media (max-width: 374px) {
  .pageUser-profil-data h2 {
    font-size: 12px;
  }
}
.pageUser-profil .btn-edit {
  width: 25%;
  margin: 0% 1% 1% 80%;
  align-self: flex-end;
}
.pageUser-profil-notification {
  height: 30vh;
}
.pageUser-profil-notification-header {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #011641ff;
}
.pageUser-profil-notification-header button {
  align-self: flex-start;
  position: relative;
  left: 35%;
  width: 6%;
  padding: 0;
}
.pageUser-profil-edit {
  height: 24vh;
  background: #b90617ff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
}
@media (max-width: 700px) {
  .pageUser-profil-edit {
    padding-top: 10%;
  }
}
.pageUser-profil-edit form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.notifList {
  overflow: auto;
  background: #b90617ff;
  padding: 4% 10%;
  max-height: 26vh;
}

.notifList-li {
  margin-bottom: 2%;
  height: 12vh;
  min-height: 100px;
}

.notifList-li-top {
  background: #021459ff;
  min-height: 60px;
  margin: 0 6% 0 0;
  text-align: center;
}

.notifList-li-bottom {
  min-height: 40px;
  background: #011641ff;
  margin: 0 0 0 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilUser {
  display: flex;
  justify-content: center;
}

.profilUser-newPost {
  background: #b90617ff;
  border: solid red;
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
@media (min-width: 450px) {
  .profilUser-newPost {
    width: 100%;
  }
}
.profilUser-newPost-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 80%;
}
.profilUser-newPost-form h1 {
  font-family: Descritpion;
}
.profilUser-newPost-form input,
.profilUser-newPost-form textarea {
  background-color: lavender;
}

@media (max-width: 450px) {
  .newPost-input {
    width: 80%;
    border: solid red;
  }
}

.pageTraining {
  display: flex;
}
@media (max-width: 425px) {
  .pageTraining {
    display: block;
  }
}
.pageTraining-search {
  text-align: center;
}
.pageTraining-nav {
  font-family: Menu;
  width: 25%;
  padding: 2%;
}
@media (max-width: 425px) {
  .pageTraining-nav {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .pageTraining-nav ul {
    display: flex;
    justify-content: space-around;
  }
}

.authPage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #021459ff;
}
.authPage-slogan {
  background-color: #011641ff;
  height: 20vh;
}
.authPage-slogan-h1 {
  padding-top: 5vh;
  font-family: name;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 7vh;
  text-align: center;
}
.authPage-form-container {
  width: 100vw;
  height: 70%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.authPage-form-container button {
  margin: auto;
  justify-content: end;
  border-radius: 8px;
}
.authPage-form {
  margin: auto;
  font-family: Descritpion;
  padding: 6% 10% 6% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  height: 60vh;
  background-color: #031373ff;
}
.authPage-form button {
  margin-top: 6%;
}
.authPage-form span {
  color: white;
  flex-wrap: wrap;
}
.authPage-form-h1 {
  padding-bottom: 6%;
  text-align: center;
  font-size: 3vh;
}
.authPage .btn-signIn {
  margin-top: 37%;
}

.pageTraining-search {
  display: flex;
  justify-content: center;
}
.pageTraining-search-input {
  height: 5vh;
  background: white;
  font-family: description;
  font-weight: bold;
  color: white;
  border-radius: 16px;
  padding-left: 2%;
}
.pageTraining-search button {
  height: 5vh;
  font-size: 2vh;
}

.search-result {
  font-family: Descritpion;
  background-color: #021459ff;
  color: white;
  text-align: center;
}

@font-face {
  src: url(./fonts/Anton_regular.ttf);
  font-family: Name;
}
@font-face {
  src: url(./fonts/Alata_regular.ttf);
  font-family: Descritpion;
}
@font-face {
  src: url(./fonts/Audiowide_regular.ttf);
  font-family: Menu;
}
@font-face {
  src: url(./fonts/Convergence_regular.ttf);
  font-family: Title;
}
@font-face {
  src: url(./fonts/Creepster_regular.ttf);
  font-family: Badge;
}
body {
  background-color: #021459ff;
  box-sizing: border-box;
  color: white;
  height: 100%;
  width: 100%;
  top: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.selected {
  color: yellow;
}

.header {
  top: 0px;
  max-width: 100vw;
  height: 35vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 50%);
}

.font-name {
  font-family: Name;
}

.font-description {
  font-family: Descritpion;
}

.font-menu {
  font-family: Menu;
}

.font-badge {
  font-family: Badge;
}

.red {
  color: #b90617ff;
}

.white {
  color: white;
}

.green {
  color: #80f2e8ff;
}

.btn {
  padding: 1% 2%;
  background-color: #021459ff;
  font-family: Name;
  color: white;
  border: white solid 0.3vh;
}

.error-message {
  color: #b90617ff;
  text-align: center;
  font-size: 2vh;
}

/*# sourceMappingURL=style.css.map */
