@import "./sass/reset.scss";
@import "./sass/var.scss";
@import "./sass/HomePage/Header/nav.scss";
@import "./sass/HomePage/Header/user.scss";
@import "./sass/HomePage/PageProfil/molecules/pageEvent.scss";
@import "./sass/HomePage/PageProfil/molecules/profilUser.scss";
@import "./sass/HomePage/PageProfil/molecules/pageNewPost.scss";
@import "./sass/HomePage/PageTraining/pageTraining.scss";
@import "./sass/Auth/authPage.scss";

@font-face {
  src: url(./fonts/Anton_regular.ttf);
  font-family: Name;
}
@font-face {
  src: url(./fonts/Alata_regular.ttf);
  font-family: Descritpion;
}
@font-face {
  src: url(./fonts/Audiowide_regular.ttf);
  font-family: Menu;
}
@font-face {
  src: url(./fonts/Convergence_regular.ttf);
  font-family: Title;
}

@font-face {
  src: url(./fonts/Creepster_regular.ttf);
  font-family: Badge;
}
body {
  background-color: $medium-blue;
  box-sizing: border-box;
  color: $white;
  height: 100%;
  width: 100%;
  top: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  top: 0px;
  max-width: 100vw;
  height: 35vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 50%);
}

.font-name {
  font-family: Name;
}

.font-description {
  font-family: Descritpion;
}

.font-menu {
  font-family: Menu;
}

.font-badge {
  font-family: Badge;
}

.red {
  color: $red;
}
.white {
  color: white;
}
.green {
  color: $green;
}
.btn {
  padding: 1% 2%;
  background-color: $medium-blue;
  font-family: Name;
  color: white;
  border: white solid 0.3vh;
}
.error-message {
  color: $red;
  text-align: center;
  font-size: 2vh;
}
