//Page profil User
.pageUser {
  width: 100vw;
  overflow: auto;

  &-event {
    min-width: 60%;
  }
  display: flex;
  &-nav {
    font-family: Menu;
    font-size: 2.6vh;
    padding: 0% 3%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: $light-blue;
    @for $i from 1 through 3 {
      &-#{$i} {
        text-decoration: none;
      }
    }
  }
}

.postList {
  background-color: $red;
  padding: 0% 6%;
  overflow: auto;
  max-height: 70vh;

  &-li {
    height: 45vh;
    margin: 5% 0 15vh 0;
    display: grid;
    grid-template-rows: repeat(10, 10%);

    &-top {
      grid-row: 1/7;
      background-color: $medium-blue;
      overflow: hidden;
      display: grid;
      grid-template-rows: repeat(10, 10%);
      grid-template-columns: repeat(10, 10%);
      &-content {
        grid-row: 1/11;
        grid-column: 1/9;
        width: 100%;
        padding-left: 4%;
        display: grid;
        grid-template-rows: repeat(10, 10%);
        grid-template-columns: repeat(10, 10%);
      }
      &-head {
        grid-row: 1/3;
        grid-column: 1/11;
        padding: 3% 7% 4% 0;
        display: flex;
        justify-content: space-between;

        & h2 {
          @media (max-width: 400px) {
            font-size: 2vh;
          }
        }
      }
      &-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-row: 3/7;
        grid-column: 1/11;
        text-align: left;
        max-width: 98%;
        font-size: 2.2vh;
      }
      &-where {
        grid-row: 7/9;
        padding-top: 3%;
        grid-column: 1/9;
        text-align: left;
        font-size: 2.2vh;
      }
      &-when {
        margin: auto;
        color: $red;
        font-size: 2.2vh;
        grid-row: 9/11;
        grid-column: 1/9;
        text-align: center;
      }
      &-image {
        background: $green;
        grid-row: 1/7;
        grid-column: 9/11;
        display: flex;
        justify-content: center;

        & img {
          height: 100%;
        }
      }
      &-user {
        background: $light-blue;
        grid-row: 7/11;
        grid-column: 7/11;
        margin: 3%;

        &-container {
          background: $red;
          border: solid white;

          height: 100%;
        }
      }
    }
    &-bottom {
      grid-row: 7/10;
      background: $dark-blue;
      margin: 0% 0% 0% 8%;
      // padding: 2% 3% 1% 2%;
      display: grid;
      grid-template-rows: repeat(5, 20%);
      grid-template-columns: repeat(4, 25%);
      justify-content: space-around;
      font-size: 2.5vh;

      &-control {
        grid-row: 1/6;
        grid-column: 1/3;
        padding: 2% 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &Admin {
          display: flex;
          justify-content: center;

          & button {
            margin-right: 1vh;
          }
          &-edit {
            top: 0px;
            right: 0px;

            height: 100vh;
            width: 100vw;
            position: absolute;
            display: flex;
            flex-direction: column;

            & form {
              width: 50%;
              height: 50%;
              margin: auto;
              align-self: center;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
              background: $dark-blue;
              height: 40%;
            }
            & .close {
              align-self: flex-end;
              width: 5%;
            }
          }
        }
      }

      &-status {
        display: flex;
        min-width: 20vw;

        & h1 {
          font-size: 3vh;

          text-align: center;
          margin: auto;
          // padding: 0% 0% 2% 2%;
        }
      }
      & button {
        background-color: $medium-blue;
        border: white solid 0.3vh;
        color: white;
        padding: 1% 2%;
        font-family: name;
        font-size: 70%;
        min-width: 8vw;
        &.list {
          width: 18vw;
        }
      }
      &-guestContainer {
        display: flex;
        padding: 2% 3%;
        grid-row: 1/6;
        grid-column: 3/5;
      }
      &-guest {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &Number {
          font-size: 3vh;
          margin: auto;
        }
        &List {
          color: black;
          background: $green;
          height: 10vh;

          grid-row: 6;
          grid-column: 1/5;
          & ul {
            display: flex;
            height: 100%;
            width: 90%;
            margin: auto;

            overflow: auto;
          }

          & li {
            width: 100%;
            height: 100%;
            font-family: Name;
            display: flex;
            align-items: flex-end;
          }
          & img {
            max-width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
