.profilUser-newPost {
  background: $red;

  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  @media (min-width: 450px) {
    width: 100%;
  }
  &-form {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 80%;
    padding-top: 3%;

    & h2 {
      font-family: Descritpion;
    }
    & input,
    textarea {
  
  width: 100%;
  border: none;
  outline: none;
  height: 50%;
  font-family: Descritpion;
  font-size: 1.6rem;
  background-color: rgba($color: white, $alpha: 0.5);


    }
    & textarea{
      height: 100%;

    }
    & button {
      width: 40%;
      margin-top: 6%;
      align-self: flex-end;
    }
  }
  &-where {
  color: rgba($color: #000000, $alpha: 0.5);
}

  
}
.newPost-input {
  @media (max-width: 450px) {
    width: 80%;
    border: solid red;
  }
}

