.pageUser-profil {
  width: 40%;
  max-height: 80vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  @media (max-width: 700px) {
    width: 100%;
  }

  &-header {
    background-color: $red;
    height: 10%;
    width: 99%;
    display: flex;

    justify-content: space-evenly;
    & h1 {
      font-size: 36px;
      display: flex;
      align-items: center;
    }
  }
  &-container {
    margin: 1%;
    border: solid white;
    height: 40vh;
    display: flex;

    &-img {
      width: 55%;
      min-height: 35vh;

      background-color: $green;
      display: flex;
      justify-content: center;
      flex-direction: column;
      display: block;
    }
  }
  &-avatar-img {
    max-height: 260px;
    left: 20%;
    z-index: 2;
    width: auto;
    position: relative;
    bottom: 13vh;
  }
  &-banner-img {
    z-index: 3;
    height: 10vh;
    position: relative;
    bottom: 24vh;
    width: 100%;
  }
  &-banner-h1 {
    z-index: 4;
    color: black;
    font-size: 3.5vh;
    padding: 1%;
    width: 100%;
    position: relative;
    bottom: 30vh;
    text-align: center;
  }
  &-bell {
    z-index: 4;
    height: 8vh;
    width: 22%;
    margin-left: 80%;
    bottom: 4vh;
    right: 2%;

    position: relative;
    &-number {
      font-size: 3vh;

      right: 2%;
      padding-right: 1%;
      position: relative;
      color: white;
      font-family: name;
      text-align: end;
      z-index: 5;
    }
  }
  &-container-data {
    width: 45%;
    height: 100%;

    background: $red;
    font-family: Descritpion;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &-container-Xpdata {
    text-align: center;
    width: 100%;
    font-size: 2.7vh;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-badge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 70%;
  }
  &-badge {
    min-width: 46%;
    height: 12vh;

    &-descritpion {
      font-size: 3vh;
    }
  }
  &-container-Xpbar {
    height: 2vh;
    background: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 16px;
  }
  &-content-Xpbar {
    height: 2vh;
    border-radius: 16px 0px 0px 16px;
    background: radial-gradient(ellipse at left, blue, rgb(228, 234, 255));
  }

  &-data {
    height: 40%;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & h2 {
      font-size: 16px;

      width: 100%;
      text-align: center;
      @media (max-width: 374px) {
        font-size: 12px;
      }
    }
  }
  & .btn-edit {
    width: 25%;
    margin: 0% 1% 1% 80%;

    align-self: flex-end;
  }
  &-notification {
    height: 30vh;

    &-header {
      width: 100%;
      height: 6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $dark-blue;
      & button {
        align-self: flex-start;

        position: relative;
        left: 35%;

        width: 6%;

        padding: 0;
      }
    }
  }

  &-edit {
    height: 24vh;
    background: $red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
    @media (max-width: 700px) {
      padding-top: 10%;
    }
    & form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.notifList {
  overflow: auto;
  background: $red;
  padding: 4% 10%;
  max-height: 26vh;
}
.notifList-li {
  margin-bottom: 2%;
  height: 12vh;
  min-height: 100px;
}
.notifList-li-top {
  background: $medium-blue;
  min-height: 60px;
  margin: 0 6% 0 0;
  text-align: center;
}
.notifList-li-bottom {
  min-height: 40px;
  background: $dark-blue;
  margin: 0 0 0 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilUser {
  display: flex;
  justify-content: center;
}
